@media only screen and (max-width: 975px) {

    .grid-container{
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("../images/bg-mobile.svg");
        grid-template-rows: 10% 80% 10%;
    }


    header{
        padding: 30px 0px 0x 10px;
    }

    header img{
        width: 150px; 
        height: 30px;
    }

    main{
        margin: 30px 50px 0px 50px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0px;
    }

    .left-card{
        flex: 40%;
        padding: 0px;
        
    }

    .right-card{
        flex: 60%;
        padding: 0px;
    }

    .right-card h1{
        font-size: 30px;
    }

    .right-card button{
        width: 200px;      
    }

    footer{
        margin-top: 20px;
        padding: 0px;
        justify-content: center;
    }
}
